<!-- Scripts -->
<!--<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>-->
<!--<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>-->


<footer class="foot mt-5 bg-success fixed-bottom">
    <span>Guillaume, Philippe, David, Rachid, Geoffrey</span>
</footer>

</body>
</html>