<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" id="titre" href="/"><img class="logo" src="/img/mongodb-logo.png"> Mongo Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span>
            <i class="fas fa-bars text-success"></i>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline ml-auto my-2 my-lg-0" action="/search" method="post">
            <a href="/newpost" class="btn btn-success my-2 my-sm-0 mr-2">
                <i class="color fas fa-plus mr-1"></i> New Post
            </a>
            <input class="form-control sm-2" type="search" placeholder="Search by User" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0 ml-1" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <a href="/userlogin" class="btn btn-outline-success my-2 my-sm-0 ml-2">
            <i class="fas fa-user mr-1"></i> Login
        </a>
        <a href="/newuser" class="btn btn-outline-success my-2 my-sm-0 ml-2"><i class="fas fa-user-plus"></i>
             Sign In
        </a>
    </div>
</nav>