<div >
    <div >
        <h5>
            <%= post.title %>
        </h5>
        <p>
            <%= post.content %>
        </p>
        <a href="edit/<%=i %>" class="btn btn-primary">Modifier</a>
        <a href="delete/<%=i %>" class="btn btn-danger">Supprimer</a>
    </div>
</div>