#titre {
    font-size: 30px;
    font-family: 'Cabin Sketch', cursive;
    color: #28A745;
}

.card {
    margin: 0 auto;
    margin-top: 5%
}

.card-body {
    margin: 2%;
}
.card-title {
    text-align: center;
}

.card-link {
    margin-left: 80%;
}

.iconPost {
    margin-left: -5%;
}

.fas  {
    color: #28A745;
}

.italic {
    color: #28A745;
    font-style: italic;
    font-size: 15px;
}

.page-item {
    margin: 4%;
}


